

*{
    margin:0px;
    font-family: 'Arial';
    border: border-box;
}

.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px ;

}

.border{
    border:2px solid transparent;
}

.border:hover{
    border:1.5px solid white;

}

.logo{
    background-image: url("R.jpg");
    background-size: cover;
    height:50px;
    width:100%;
}


/** box 2 **/

.add-first{
    color:#cccccc;
    font-size: 1rem;
    margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
    
}


/** Box3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: chocolate;
    width:600px;
    height:40px;
    border-radius: 5px;

    
}

.search-select{
    
    background-color: #d6d6d6;
    width:50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #febd68;
    color: #0f1111;
    border: none;
}


.nav-search:hover{
    border: 2px solid rgba(206, 74, 26, 0.37);
}

/* Box 4 */
span{
    font-size: 0.7rem;
}


.nav-second{
    font-size: 0.9rem;
    font-weight: 600;
}

.nav-Cart i{
    font-size: 30px;
}

.nav-Cart{
    font-size: 0.9rem;
    font-weight: 700;
}


/*Panel*/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    font-size: 0.9rem;
    margin-left:15px;
}

.downloadapp{
    font-size:  1rem;
    font-weight: 500;
    
}

/*Main Image*/

.mainImg{
    background-image: url(Main_image.jpg);
    height: 300px;
    background-size: cover;
}


/* Shopping area*/
.shoppingarea{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: rgb(240, 232, 232);
    height: 100%;
    
}

.box{
    
    margin-top: 50px; 
    display: inline-block;
    height:400px;
    width: 20%;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: white;
    /* margin-right: 100px; */
    padding: 10px 0px 20px;
    border: none;

}

.Box-img{
    margin: 40px;
    height: 280px;
    background-size:cover;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;


}



/* .box-content{
    margin-left: 10 px;
    margin-right: 10 px;
} */